
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

hr { color: black; }

button {
  margin: 5% 25% 0 25%;
  width: 50%;
  height: 30px;
  background-color: #a5a5a5;
  border-width: 0;
  border-radius: 10px;
}

.accordion-item {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: #a5a5a5;
  padding: 3px;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 100px 30vw 100px 30vw;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen {
  @media only screen and (max-width: 600px) {
    .main {
      padding: 100px 2vw 100px 2vw;
    }
  }
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.description a {
  color: #0070f3;
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.success {
  margin-top: 20px;
  padding: 5px;
  background-color: #acfd8b;
  border: 1px solid #48ff00;
  border-radius: 5px;
}

.error {
  margin-top: 20px;
  padding: 5px;
  background-color: #fd8b8b;
  border: 1px solid #ff0000;
  border-radius: 5px;
}